[defaults]
collections_path = ./.ansible/collections
local_tmp = ./.ansible/tmp
remote_tmp = ./.ansible/tmp
retry_files_enabled = false
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
callbacks_enabled = ansible.builtin.profile_tasks

[inventory]
enable_plugins = yaml, ini, auto
